/* Selectores de tipo etiqueta  */
* {
    margin: 0;
    padding: 0;
}

/* Tipografía */
@font-face {
    font-family: "inter";
    src: url(../recursos/Tipografia/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "poppins";
    src: url(../recursos/Tipografia/Poppins-Light.ttf);
}

/* Logo */
.logo {
    display: inline-block;
    width: 140px;
    margin: 12px;
}

/* FONDO */
body {
    background-image: url(../recursos/Fondo.jpg);
    background-size: cover;

}

/* FOOTER */
.iconos {
    display: flex;
    justify-content: center;
}

.iconos:hover {
    box-shadow: 0px 1px 10px rgb(114, 114, 114);
    transform: translatey(-3%)
}

footer img {
    width: 50px;
}

/* HOME*/
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between
}

.spotify {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    margin-top: 10px;
}



.parrafos {
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

.parrafos1 {
    color: #6e6e6e;
    font-family: "poppins";
    font-size: medium;
    text-align: left;


}

.yo {
    width: 580px;
}

.cv {
    width: 580px;
    margin-bottom: -200px;
}


.header ul {
    display: flex;
    padding: 40px
}

.home1 {
    display: inline;
    background: transparent;
    border-bottom: 2px solid #ffffff;
}

.portfolio1 {
    display: inline;
    background: transparent;
    border-bottom: 2px solid #ffffff;
}

.uxers1 {
    display: inline;
    background: transparent;
    border-bottom: 2px solid #ffffff;
}

.contactame1 {
    display: inline;
    background: transparent;
    border-bottom: 2px solid #ffffff;
}

.menuhome a {
    color: #ffffffcb;
    ;
    text-decoration: none;
    font-family: "poppins";
    font-weight: lighter;
    font-size: larger;
}

.menuhome li {
    list-style-type: none;
}

.uno {
    color: #a658eacb;
    font-family: "poppins";
    font-size: xx-large;
    text-align: center;

}

.dos {
    color: #6e6e6e;
    font-family: "poppins";
    font-size: x-large;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 10px solid #a658eaad;

}

.tres {
    color: rgb(121, 121, 121);
    font-family: "poppins";
    font-size: medium;
    font-weight: 100;
    text-align: center;
    margin-top: 30px;
}

.cuatro {
    color: rgb(121, 121, 121);
    font-family: "poppins";
    font-size: medium;
    font-weight: 100;
    ;
    text-align: center;
    font-size: large;
    margin-top: 30px;
}

.titulo2 {
    margin-top: 100px;
    color: #a658eacb;
    font-family: "poppins";
    font-size: xxx-large;
    font-weight: inherit;
    text-align: left;
    margin-bottom: 20px;
}

.algunos h6 {
    color: #a658eacb;
    font-family: "poppins";
    font-size: xx-large;
    text-align: center;
    margin-top: 300px;
    margin-bottom: -100px;
}

.boton2 {
    display: inline-block;
    margin-left: 700px;
    background-color: #791bd1cb;
    border-radius: 15px;
    padding: 15px;
    font-family: "poppins";
    color: #ffffff;
    border: 0;
    font-weight: lighter;
    font-size: large;
    box-shadow: 2px 4px 4px 2px #6e6e6e33;
    ;
}

.boton1 {
    display: block;
    margin-left: 200px;
    background-color: #791bd1cb;
    border-radius: 15px;
    padding: 15px;
    font-family: "poppins";
    color: #ffffff;
    border: 0;
    font-weight: lighter;
    font-size: large;
    box-shadow: 2px 4px 4px 2px #6e6e6e33;
    ;
}

a:hover {
    background-color: #ffffffef;
    color: #791bd1cb;
    border-radius: 7px;
    padding: 7px;
}

.footerhome {
    list-style-type: none;
    color: #ffffff;
    font-family: "poppins";
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.footer2 {
    list-style-type: none;
    color: #9900ff;
    font-family: "poppins";
}

.copyright {
    color: rgb(49, 49, 49);
    font-family: "poppins";
    font-size: small;
    font-weight: normal;
    ;
    text-align: center;
    margin-block-end: 20px;
}

/* GRILLA Home*/

.presentacion {
    display: grid;
    grid-template-columns: 1fr .1fr;
    grid-template-areas: "parrafos yo";
    justify-content: space-between;
}

parrafos {
    grid-area: parrafos;
}

yo {
    grid-area: yo
}

.curriculum {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "cv parrafos1";
    justify-content: space-between;
}


cv {
    grid-area: cv
}

parrafos1 {
    grid-area: parrafos1;

}

/* SOBRE MI */

.sobremi1 {
    display: inline;
    background: transparent;
    border-bottom: 2px solid #ffffff;
}

.headersobremi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between
}

.headersobremi ul {
    display: flex;
    padding: 40px
}

.menusobremi a {
    color: #ffffffcb;
    ;
    text-decoration: none;
    font-family: "poppins";
    font-weight: lighter;
    font-size: larger;
}

.menusobremi li {
    list-style-type: none;
}

.mainsobremi {
    color: rgb(100, 100, 100);
    ;
    font-family: "poppins";
    font-weight: lighter;
    font-size: medium;
    margin: 50px;
    margin-top: 110px;

}

.textosobremi {
    margin-top: 80px;
}

.textosm {
    color: #a658eacb;
    font-family: "poppins";
    font-size: xxx-large;
    font-weight: inherit;
    margin-bottom: 30px;
    text-decoration: overline;
}


.fotosobremi {
    width: 550px;
}

.mainsobremi {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas: "fotosobremi textosobremi";
    justify-content: space-between;
}

fotosobremi {
    grid-area: fotosobremi;
}

textosobremi {
    grid-area: textosobremi
}

/* PORTFOLIO */
.headerportfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between
}

.headerportfolio ul {
    display: flex;
    padding: 40px
}

.portfolio {
    background-color: #e1a5ec;
}


.menuportfolio a {
    color: #ffffffcb;
    ;
    text-decoration: none;
    font-family: "poppins";
    font-weight: lighter;
    font-size: larger;
}

.menuportfolio li {
    list-style-type: none;
}

.portfolio1 {
    width: 200px;
}

.portfolio2 {
    width: 200px;
}

.colage1 {
    width: 1200px;
    display: flex;
    margin: auto;
    margin-top: 150px;
}

.tituloportfolio {
    color: #a658eacb;
    font-family: "poppins";
    font-size: xxx-large;
    font-weight: normal;
    text-decoration: overline;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: -150px;
}

/* HEADER uxers */
.headeruxers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between
}

.headeruxers ul {
    display: flex;
    padding: 40px
}

.menuuxers a {
    color: #ffffffcb;
    ;
    text-decoration: none;
    font-family: "poppins";
    font-weight: lighter;
    font-size: larger;
}

.menuuxers li {
    list-style-type: none;
}


.mainuxers {
    color: #730fa1cb;
    ;
    text-decoration: none;
    font-family: "poppins";
    font-weight: lighter;
    font-size: larger;
}

/* HEADER contactame */
.headercontactame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between
}

.headercontactame ul {
    display: flex;
    padding: 40px
}

li {
    margin: 10px;
    padding: 10px;
}

.menucontactame a {
    color: #ffffffcb;
    ;
    text-decoration: none;
    font-family: "poppins";
    font-weight: lighter;
    font-size: larger;
}

.menucontactame li {
    list-style-type: none;
}

.contactame {
    margin-left: 20px;
    display: block;
}

.formulariodecontacto {
    margin-top: 200px;
}

/* CARDS */
.container {
    width: 100%;
    display: flex;
    margin-top: 250px;
    margin-bottom: 150px;

}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 30px;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px rgb(221, 221, 221);
}

.card img {
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;
}

.card .contenido {
    padding: 20px;
}

.card h3 {
    color: blueviolet;
    margin-bottom: 10px;
}

.card .contenido p {
    color: rgb(78, 78, 78);
    font-size: small;
}

.card .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-left: 130px;
    background-color: #791bd1cb;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 0px 7px rgb(136, 136, 136);
    font-weight: normal;
}

/* GRIDS CARD PORTFOLIO */

.grillapadre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "im1 im2 im3"
        "im4 im5 im6";
    align-items: end;
    width: 50%;
    margin: auto;
    justify-content: center;
    margin-top: 200px;
}

.im1 {
    grid-area: im1;
    margin-right: 60px;
}

.im3 {
    grid-area: im3;
    margin-right: 60px;
}

.im2 {
    grid-area: im2;
    margin-right: 60px;
}

.im4 {
    grid-area: im4;
    margin-right: 60px;
}

.im5 {
    grid-area: im5;
    margin-right: 60px;
}

.im6 {
    grid-area: im6;
    margin-right: 60px;
}




/* card */

.card {
    width: 100%;
    margin: 20px;
    border-radius: 30px;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px rgb(221, 221, 221);
}

.card:hover {
    box-shadow: 0px 1px 10px rgb(114, 114, 114);
    transform: translatey(-3%)
}

.card img {
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;
}

.card .contenido {
    padding: 20px;
}

.card h3 {
    color: blueviolet;
    margin-bottom: 10px;
    font-family: "poppins";
    font-weight: bolder;
}

.card .contenido p {
    color: rgb(78, 78, 78);
    font-size: small;
    font-family: "poppins"
}

.card .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-left: 150px;
    background-color: rgba(121, 27, 209, 0.795);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 0px 7px rgb(136, 136, 136);
    font-weight: normal;
    font-family: "poppins";
}


/* MEDIA */

@media (max-width: 390px) {

    .logo {
        display: inline-block;
        width: 80px;
        margin-left: 250px;
        margin-top: 50px;
    }

    .boton1 {
        display: block;
        margin-left: 200px; 
    }

    .boton2 {display: block;
        margin-left: 100px;
    margin-top: -500px; margin-bottom: 600px;}


    .mainsobremi {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "fotosobremi" "textosobremi";
        justify-content: space-between;
    }

    .header ul {
        display: flex;
        padding: 40px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
    }

    .spotify {
        display: flex;
        flex-wrap: wrap;
        place-content: space-between space-around;
        margin-top: 10px;
        justify-content: flex-end;
        flex-direction: row;
    }

    .presentacion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "parrafos"
            "yo";
        justify-items: center;
    }


    .curriculum {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        margin-top: 50px;
    }



    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {width: 70%;

    }
    
    .card img {
        width: 90%;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    .card .contenido a {
        margin-left: 200px;}

    .body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media (max-width: 390px) {
        .grillapadre {
            grid-template-columns: 1fr;
            grid-template-areas:
                "im1"
                "im2"
                "im3"
                "im4"
                "im5"
                "im6";

        }
    }
}

